:root {
--background-color: #000000;
--header-color: #181818;
--accent-color: rgb(214, 218, 5);
--text-color: #ffffff;
--input-color: #353434;
}
/*
Universal reset that allow us to have control over the website
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/*
Flexbox
*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 20px; /* This allow us to have space between the header and the content */
}


/*
Headers objects
*/
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
/*
    We have to change the color of the input and the button to match the header color
*/  
}
.search-container input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 300px;
    background-color: var(--input-color);
    color: var(--text-color);
}
.search-container button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100px;
    background-color: var(--accent-color);
    color: var(--background-color);
}

.user-controls {
    display: flex;
    gap: 10px; /* This allow us to have space between the buttons */
    align-items: center;
}

.user-controls .btn-login,
.user-controls .btn-icon,
.btn-add-to-cart{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100px;
    background-color: var(--accent-color);
    color: var(--background-color);
}
/*We make it interactive with our cursor */
.user-controls .btn-login:hover,
.user-controls .btn-icon:hover,
.search-container button:hover,
.btn-add-to-cart:hover{
    background-color: var(--background-color);
    color: var(--accent-color);
    cursor: pointer;
}


/* 
Catalog
*/
#catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/*
flex es unidireccional, es decir, solo se puede aplicar en una dimension
grid es bidireccional, es decir, se puede aplicar en dos dimensiones
por eso lo hemos usado
*/
/*
Responsive Design, hay que comprobar que funciona en todos los dispositivos.
Aqui solo hemos solucionado el catalogo de videojuegos, pero hay que hacerlo con todos los elementos de la pagina.
*/
@media (max-width: 768px) {
    #catalogo {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    #catalogo {
        grid-template-columns: repeat(1, 1fr);
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--header-color);
    color: var(--text-color);
}
